#app {
  margin: 3rem auto;
}

.progress {
  height: 1.8rem;  
}

.button-controls {
  margin: 2rem 0;
  text-align: center;
}

.button-controls button.btn {
  margin: 1.6rem 0.2rem;
}

ul {
  list-style-type: none;;
}